
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 
{ 
    margin: 0 0 12px; 
    font-size: 20px;
    position: relative;
    align-items: center;
    top: 160px;
    width: 100%; 
    margin: 0 auto;
}



.wheather-Name {
  position: relative;  
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.app-grid a {
  text-decoration: none; /* removes underline */
  color: inherit;        /* keeps your text color the same */
}

.scroll-container {
  width: 100%;
  max-height: 480px;
  overflow-y: auto;
  padding: 0 20px;
  box-sizing: border-box;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}



.scroll-container::-webkit-scrollbar {
  width: 6px;
}


.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.wheather-Name h3 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin: 0px;
}


.app-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  justify-items: center;
  margin-top: 5px;
}



.app {
  width: 110px;
  height: 110px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(54, 54, 54, 0.2);
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(150, 150, 150, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

.app:hover {
  transform: scale(1.05);
  background: black;
}

.app h3 {
  margin: 0;
  font-size: 0.8rem;
  opacity: 0.9;
}

.app p {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 8px 0;
}

 body {
      font-family: system-ui, sans-serif;
      background: #0a0a0a;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
.box 
{
    position: relative;
    width: 300px;
    height: 600px;
    background: #666;
    border-radius: 50px;
}
.box::before 
{
    content: '';
    position: absolute;
    inset: 3px;
    background: #000;
    border-radius: 48px;
}
.inner 
{
    position: absolute;
    inset: 3px;
    background-size: cover;
    background-position: center;
    border-radius: 48px;
    border: 10px solid #000;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: 0.5s;
}
.box:hover .inner
{
    opacity: 1;
}
.rightSideBtn
{
    position: absolute;
    top: 170px;
    right: -2px;
    width: 3px;
    height: 70px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: radial-gradient(#ccc, #666, #222);
    z-index: 10;
}
.island_popup
{
    position: absolute;
    top: 10px;
    width: 90px;
    height: 25px;
    background: #000;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.island_popup:hover
{
    width: 200px;
    height: 25px;
}
.content
{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    line-height: 25px;
}
.content p
{
    color: #fff;
    font-size: 0.6em;
    cursor: default;
    opacity: 0;
    transition: 0.5s;
}
.action
{
    position: relative;
    top: 5px;
    color: #fff;
    display: flex;
    gap: 12px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
ion-icon.red
{
    color: #fd443b;
    transform: rotate(135deg);
    cursor: pointer;
    transition: 0.5s;
}
ion-icon.green
{
    color: #31d059;
    cursor: pointer;
    transition: 0.5s;
}
.island_popup.active p,
.island_popup:hover p,
.island_popup:hover .action,
.island_popup.active .action
{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.25s;
}
.btn {
  position: absolute;
  top: 130px;
  left: -2px;
  width: 3px;
  height: 40px;
  border-radius: 4px;
  background: radial-gradient(#ccc, #666, #222);
  z-index: 10;
  transform: rotate(0deg); 
  transform-origin: center;
}
.btn2
{
    position: absolute;
    top: 190px;
    left: -2px;
    width: 3px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: radial-gradient(#ccc, #666, #222);
    z-index: 10;  
}
.btn3
{
    position: absolute;
    top: 260px;
    left: -2px;
    width: 3px;
    height: 80px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: radial-gradient(#ccc, #666, #222);
    z-index: 10;  
}
.detais
{
    position: relative;
    display: flex;
    align-items: center;
}
.detais .imgBx
{
    width: 0px;
    position: relative;
    height: 0px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}
.island_bottom 
{
    position: absolute;
    top: 560px;
    width: 55px;
    height: 7px;
    background: gray;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    display:block;
    border:0 none;
    cursor:pointer;
    outline: none;
    box-shadow: white;  
}
.island_bottom:hover
{
    position: absolute;
    top: 560px;
    width: 90px;
    height: 7px;
    background: gray;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.inner-home {
  position: absolute;
  inset: 3px;
  background: linear-gradient(180deg, #8b3eff, #7a2bda, #6215b9);
  border-radius: 48px;
  border: 10px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding-top: 30px;
  overflow: hidden;
}



















